*{
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}

body{
  background-color: var(--bg-color);
  color: var(--color);
  transition: all 0.6s ease-in-out;
}

nav{
  background-color: #111;
  color: #fff;
  padding: 20px 50px;
}

#cnt{
  max-width: 40px;
  max-height: 40px;
  border-radius: 10%;
}

.navTop{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search{
  display: flex;
  align-items: center;
  background-color: gray;
  padding: 10px 20px;
  border-radius: 10px;
}

.searchItem{
  border: none;
  background-color: transparent;
}

.searchItem::placeholder{
  color: lightgray;
}

.limitedOffer{
  font-size: 20px;
  border-bottom: 2px solid green;
  cursor: pointer;
}

.navBottom{
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuItem{
  margin-right: 20px;
  cursor: pointer;
  color: lightgray;
  font-weight: 400;
  margin-top: 17px;
}

.sliderImage{
  border-radius: 10%;
  height: 15vw;
  width: 23vw;
}


.slider{
  padding-top: 10px;
  background-image: url("https://media.istockphoto.com/id/175502624/photo/white-brick-wall.webp?b=1&s=170667a&w=0&k=20&c=SsUtKM1W_UGgFM92nnkoQ9ptu9LYAJQlpflxkytsmfg=");
  /*clip-path: polygon(0 0, 100% 0, 82% 100%, 0 99%, 0% 38%);*/
}

.sliderWrapper{
  display: flex;
  width: 500vw;
}

.sliderItem{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}























